img {
  width: 100%;
  height: 100%;
}
.jumbotron {
  text-align: center;
  background-color: lightyellow;
}
.well {
  background-color: lightyellow;
}

body {
  background-image: url("../img/Wedding-Party.jpg");
}
#output {
  display: none;
  font-size: 25px;
}
